:root {
	--white: #fff;
	--black: #000;
	--font-color-dark: #000000;
	--font-color-light: #677788;
	--font-color-link: #2476ff;
	--bg-color-dark: #f8fafe;
	--size-10: 0.625rem;
	--size-14: 0.875rem;
	--size-16: 1rem;
	--size-18: 1.125rem;
	--size-20: 1.25rem;
	--size-30: 1.875rem;
	--size-40: 2.5rem;
	--size-50: 3.125rem;
	--size-100: 6.25rem;
	--size-150: 9.375rem;
}

*,
::after,
::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Hind", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.6;
	letter-spacing: 0;
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	vertical-align: middle;
	border-style: none;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: var(--size-10) var(--size-30);
}

.btn-primary {
	display: inline-block;
	background: var(--font-color-link);
	transition: ease-in-out 0.3s;
	color: var(--white);
	border: 1px solid transparent;
	text-align: center;
	padding: 0.375rem 0.75rem;
	border-radius: 3.25rem;
	user-select: none;
	cursor: pointer;
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: var(--font-color-link);
	text-align: center;
	cursor: pointer;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	border-radius: 3.25rem;
	transition: ease-in-out 0.3s;
}

@media (min-width: 768px) {
	.price-section {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	footer .container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
