* {
	margin: 0;
}

@media screen and (max-width: 768px) {
	[aria-controls="navbarDropdown"] {
		display: block;
		position: absolute;
		background-color: transparent;
		border: 1px solid transparent;
		top: 28px;
	}

	[aria-expanded="false"] ~ ul {
		display: none;
	}

	[aria-expanded="true"] ~ ul {
		display: inline-flex;
		right: 0;
		top: 60;
		background-color: var(--white);
		width: 100%;
		text-align: center;
		padding: 40px 60px 0 30px;
	}

	[aria-expanded="true"] ~ ul li a {
		margin-right: var(--size-20);
		color: var(--font-color-dark);
		display: flex;
	}

	.hero-section {
		display: flex;
		flex-direction: column;
	}

	.learn-more {
		padding-left: 16px;
	}

	.service-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--size-20);
	}

	.hubspot-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.hubspot-text {
		text-align: center;
	}

	.employee-name {
		color: var(--black);
	}

	.employee-job {
		color: var(--black);
	}

	.trusted-text h3 {
		margin-top: 0;
	}

	.price-plans-container {
		display: flex;
		flex-direction: column;
	}

	.main-plan {
		text-align: center;
	}

	.hire-us {
		padding: 0;
		display: flex;
		flex-direction: column;
	}

	.hire-us-text {
		text-align: center;
	}

	.company-links {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 480px) {
	.service-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--size-20);
	}

	.form-group {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.form-group .checkbox {
		display: flex;
		flex-direction: row;
	}
}
